h1{
  text-align: center;
  border: 6px inset blue;
  text-shadow: 3px 3px green;
}

div {
  position: relative;
  animation-timing-function: linear;
  animation: mymove 5s infinite;
   
}

@keyframes mymove {
  0% {background: orange; color: blue; left: 0px;}
  33% {background: blue; color: yellow; left: 130px;}
  100% {background: yellow; color: red; left: 0px;}
  33% {background: red; color: green; left: 130px;}
  0% {background: green; color: orange; left: 0px;}



}

body {
  background: LightBlue;
  font-family: 'Courier New'
}

#SkiingScene{
border: 4px inset black;
width: 50%;
}

#SkiingPerson{
border: 4px inset black;
width: 50%;

}

#SkiingScene:hover {
  transform: scaleX(-1);
}

#SkiingPerson:hover {
  transform: scaleX(-1);
}


.links:hover {
	color: red;
}

.links:visited {
	color: purple;
}

#button{
color: blueViolet;
background: cyan;
border: 1px solid black;
}